:root {
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

video:focus,
video:focus-visible,
.vjs-tech:focus,
.vjs-tech:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.video-js *:focus:not(:focus-visible) {
  outline: none !important;
}
